<div class="container fullscreenBackground">
  <div class="circleBackground"></div>
  <div class="columns is-mobile">
    <div class="column is-12 headline-position">
      <div class="headline-style" style="color:black">
        Oops! Something went wrong...
      </div>
    </div>
    <div class="columns is-mobile">
    </div>
  </div> 
  <div class="padding-1">
    <button class="button is-primary is-medium is-fullwidth" style="background-color:white; color:black" [routerLink]="['/home']">
      Zurück zum Start
    </button>
  </div>
</div>