<i class="fa fa-times menu-burger" aria-hidden="true" (click)="closeMenu()"></i>

<div class="menuPoint" style="margin-top: 2rem" (click)="routing('home')">
  <span>
    <img src="/assets/icons/android-icon-192x192.png" style="width: 1.8rem; margin-left: -0.6rem; margin-right: 0.4rem;">
  </span>
  News
</div>

<div class="menuPoint" (click)="routing('timetable')">
  <span class="icon">
    <i class="fa fa-calendar"></i>
  </span>
  Timetable
</div>

<div class="menuPoint" (click)="routing('favourites')">
  <span class="icon">
    <i class="fa fa-star"></i>
  </span>
  Favouriten
</div>

<div class="menuPoint" (click)="routing('stands')">
  <span class="icon">
    <i class="fa fa-map-marker"></i>
  </span>
  Stände
</div>

<div class="menuPoint" (click)="routing('events')">
  <span class="icon">
    <i class="fa fa-bullhorn"></i>
  </span>
  Events
</div>

<div class="menuPoint" (click)="routing('chat')">
  <span class="icon">
    <i class="fa fa-comment"></i>
  </span>
  Chat
</div>


<div class="menuPoint imprint">
  <a class="color-white" href="https://campus-regensburg.org/impressum/">
    Imprint
  </a><br>
  <a class="color-white" href="https://campus-regensburg.org/datenschutz/">
    Privacy Policy
  </a>
</div>

<div class="circleBackground"></div>
<div class="circleBackground" style="background-color:#3F6B32; margin-top: 0rem; margin-left: -13rem;"></div>
