.stage-select{
    bottom: 0px;
    position: absolute;
    background: #3F6B32;
    width: 100%;
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
    color:white;
    height: 5rem
}

.stage{
    padding: 2rem;
}