<div class="container fullscreenBackground">
  <div class="circleBackground"></div>
  <div class="circleBackground" style="background-color:#3F6B32; margin-top: -18rem; margin-left: -12rem;"></div>
  <div class="columns is-mobile">
    <div class="column is-12 headline-position">
      <div class="headline-style">
        Timetable
      </div>
    </div>
    <div class="columns is-mobile">
    </div>
  </div>

  <section class="padding-1" *ngIf="dataIsAvailable">
    <div *ngFor="let entry of entries; let i=index" style="margin-top:1.5rem">
      <div class="card" [(routerLink)]="'/details/' + entry.id" style="height: 4rem;">
        <p class="title" style="font-size: 1.5rem !important">
          {{entry.band}}
        </p>
        <p class="title">
          Spielzeit: {{entry.time}}
          </p>
      </div>
      <a class="button is-fullwidth is-warning nav-button">
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </a>
    </div>
  </section>

  <!--div class="stage-select">
    <div class="stage">Center</div>
    <div class="stage">Electro</div>
    <div class="stage">Metal </div>
  </div-->
</div>
