/* You can add global styles to this file, and also import other style files */
.circleBackground{
    height: 30rem;
    width: 30rem;
    z-index: -1;
    background-color: #209cee;
    border-radius: 15rem;
    position: absolute;
    margin-top: -13rem;
    margin-left: -7rem;
}

.fullscreenBackground {
    position: absolute;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.card {
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.title {
    font-size: 1.25rem !important;
    padding-left: 1rem;
}

.subtitle {
    font-size: 0.9rem;
    padding-left: 1rem;
}

.color-marker {
    float: right;
    height: 100%;
    position: absolute;
    width: 10px;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

.headline-position{
    z-index: 0; 
    padding: 2rem; 
    padding-left: 5rem; 
    padding-bottom: 0rem;
}

.headline-style{
    font-size: 1.5rem; 
    color:white;
}

.subheadline-style{
    padding: 1rem; 
    color:white
}

.right{
    float: right;
}

.left{
    float: left;
}

.alert-style{
    margin-top: -2rem;
    padding: 1.0rem;
}

.padding-1{
    padding: 1rem;
}

.primary{
    background-color: #00d1b2 !important;
}

.link{
    background-color: #3273dc !important;
}

.info{
    background-color: #23d160 !important;
}

.success{
    background-color: #ffdd57 !important;
}

.warning{
    background-color: #ffbc6b !important;
}

.danger{
    background-color: #ff3860 !important;
}

.is-primary-save {
    background-color: #209cee;
}

.info-button{
    bottom: 1rem;
    position: absolute;
    background: #209cee;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 6rem;
    padding: 1rem;
    padding-left: 1.35rem;
    padding-top: 0.8rem;
    margin-left: 1rem;
}