<div class="container fullscreenBackground">
    <div class="circleBackground"></div>
    <div class="circleBackground" style="background-color:#3F6B32; margin-top: -18rem; margin-left: -12rem;"></div>
    <div class="columns is-mobile">
      <div class="column is-12 headline-position">
        <div class="headline-style">
          Favourites
        </div>
      </div>
      <div class="columns is-mobile">
      </div>
    </div>
  
    <section class="padding-1" *ngIf="dataIsAvailable">
      <div *ngFor="let fav of favourites; let i=index" style="margin-top:1.5rem" [(routerLink)]="'/details/' + fav.id">
        <div class="card" style="height: 5rem;">
          <p class="title" style="font-size: 1.5rem !important">
            {{fav.band}}
          </p>
          <p class="title">
            Spielzeit: {{fav.time}}
            </p>
        </div>
        <a class="button is-fullwidth is-danger remove-button" (click)="removeFromFavs(fav)">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
      <div *ngIf="favourites.length == 0" style="color:white">
          You haven't added a band yet...
      </div>
    </section>
  
  </div>
  