<div class="container fullscreenBackground">
  <div class="circleBackground"></div>
  <div class="circleBackground" style="background-color:#3F6B32; margin-top: -18rem; margin-left: -12rem;"></div>
  <div class="columns is-mobile">
    <div class="column is-12 headline-position">
      <div class="headline-style">
        News
      </div>
    </div>
    <div class="columns is-mobile">
    </div>
  </div>

  <section style="padding-left: 0.7rem;">
    <h3 style="color:white; margin-top:1.5rem; margin-left: 0.3rem">Whats up?!</h3>
    <div class="scrolling-wrapper">
      <div class="cardVert card" style="padding:0.5rem" *ngFor="let act of current_acts" [(routerLink)]="'/details/' + act.id">
        <h2 style="font-weight:700">{{act.name}}</h2>
        <div>
          <i class="fa fa-map-marker" style="color:#769941" aria-hidden="true"></i>
          {{act.stage}}
        </div>
        <div>
          <i class="fa fa-clock-o" style="color:#769941" aria-hidden="true"></i>
          {{act.stagetime_start | date: 'short'}}
        </div>
      </div>

    </div>
  </section>

  <section class="padding-1" *ngIf="dataIsAvailable">
    <h3 style="color:white; margin-top:1rem">Status updates</h3>
    <div *ngFor="let message of news; let i=index">
      <div class="card">
        <div class="card-content" [style.background-image]="'url(/assets/img/img-' + i + '.jpg)'" style="background-size: cover; height:8rem">
        </div>
      </div>
      <span>
        <p class="title">
          {{message.title}}
        </p>
      </span>
      <hr>

    </div>
  </section>
</div>
